{% extends 'portal.html' %}
{% block title %}Welcome {{ name }}{% endblock %}
{% block content %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">PBSHM Framework successfully installed</h4>
        <div class="d-flex flex-row-reverse align-items-center">
            <a class="btn btn-outline-info mt-n3 ml-3" href="{{ url_for('layout.diagnostics') }}">System Diagnostics</a>
            <p class="flex-fill">Congratulation, you have successfully configured and installed the ROSEHIPS Consortium PBSHM Framework.</p>
        </div>
        <hr>
        <p>
            The PBSHM Framework is a preconfigured version of the <a href="https://github.com/dynamics-research-group/pbshm-flask-core">PBSHM Core</a> and module ecosystem. Whilst the PBSHM Core was built to provide a base application for curating modules to consume <a href="https://github.com/dynamics-research-group/pbshm-schema">PBSHM Schema</a> data, the PBSHM Framework is intended to provide a combined product of the PBSHM Schema, PBSHM Core and relevant PBSHM Modules in single usable product that showcases the available technology.
        </p>
        <p>
            If you would like more information on how to setup the PBSHM Core for developing your own PBSHM modules, please see <a href="https://github.com/dynamics-research-group/pbshm-flask-core">here</a>. If you would like more information on how to build a PBSHM Core compatible module within your installation, please see <a href="https://github.com/dynamics-research-group/pbshm-module-template">here</a>.
        </p>
        
    </div>
    <h5>Installed Modules</h5>
    <hr>
    <p>Below you will find a list of installed modules and a link to any relevant guides on how to use the modules.</p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Module</th>
                <th scope="col">Description</th>
                <th scope="col">Author</th>
                <th scope="col">Repo</th>
                <th scope="col">Documentation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>pbshm-channel-toolbox</code></td>
                <td>A collection of tools to help processing channel data</td>
                <td><a href="https://github.com/dsbrennan">dsbrennan</a></td>
                <td><a href="https://github.com/dsbrennan/channel-tools">dsbrennan/channel-tools</a></td>
                <td><a href="https://github.com/dsbrennan/channel-tools/blob/main/README.md">README</a></td>
            </tr>
            <tr>
                <td><code>pbshm-ie-toolbox</code></td>
                <td>A collection of tools to help processing IE models</td>
                <td><a href="https://github.com/dsbrennan">dsbrennan</a></td>
                <td><a href="https://github.com/dsbrennan/ie-tools">dsbrennan/ie-tools</a></td>
                <td><a href="https://github.com/dsbrennan/ie-tools/blob/main/README.md">README</a></td>
            </tr>
            <tr>
                <td><code>pbshm-network-mcs</code></td>
                <td>An implementation of the Jaccard Index and Maximum Common Subgraph to generate network similarity scores for a a given set of IE models</td>
                <td><a href="https://github.com/jgosliga">jgosliga</a></td>
                <td><a href="https://github.com/dynamics-research-group/ag-mcs">dynamics-research-group/ag-mcs</a></td>
                <td><a href="https://github.com/dynamics-research-group/ag-mcs/blob/main/README.md">README</a></td>
            </tr>
        </tbody>
    </table>
    <h5>Bug reporting</h5>
    <hr>
    <p>If you encounter any issues/bugs with the system, please raise an issue through the <a href="https://github.com/dynamics-research-group/pbshm-framework/issues">issues system</a> on GitHub.</p>
    
{% endblock %}